Repository nLatt/GLaDOS-2023, pull requests merged in 2023-01, with the labels that each got.

#17 11 setup a unit test system
  GLaDOS2023.cabal
  README.md
  app/Main.hs
  cabal.project
  test/Test.hs
Labels: unit test

#20 19 parsing libary
  .hie.yaml
  GLaDOS2023.cabal
  README.md
  TestFiles/1
  TestFiles/2
  app/Builtins.hs
  app/Main.hs
  hie.yaml
  parsing/Parsing.hs
  parsing/Parsing/Args.hs
  parsing/Parsing/Lang.hs
  test/TestMain.hs
  test/TokenizationTest.hs
Labels: parser, unit test, Build

#18 16 cpt and ast implementation
  GLaDOS2023.cabal
  app/Builtins.hs
Labels: parser

#21 16 cpt and ast implementation
  .hie.yaml
  GLaDOS2023.cabal
  README.md
  TestFiles/1
  cabal.project
  hie.yaml
  parsing/Parsing/Args.hs
  parsing/Parsing/Lang.hs
  test/ParseArgsTest.hs
  test/ParsingLangTests.hs
  test/TestMain.hs
  test/TokenizationTest.hs
Labels: parser, unit test, Build

#23 16 cpt and ast implementation
  .gitignore
  GLaDOS2023.cabal
  TestFiles/builtins1.scm
  TestFiles/builtins2.scm
  TestFiles/builtins3.scm
  TestFiles/call.scm
  TestFiles/error.scm
  TestFiles/factorial.scm
  TestFiles/foo.scm
  TestFiles/function1.scm
  TestFiles/if1.scm
  TestFiles/if2.scm
  TestFiles/if3.scm
  TestFiles/lambda1.scm
  TestFiles/lambda2.scm
  TestFiles/lambda3.scm
  TestFiles/sample1.scm
  TestFiles/sample2.scm
  TestFiles/superior.scm
  app/Main.hs
  hie.yaml
  lib/Parsing.hs
  lib/Parsing/Args.hs
  lib/Parsing/Ast.hs
  lib/Parsing/Cpt.hs
  lib/Parsing/Token.hs
  test/Parsing/ArgsTests.hs
  test/Parsing/AstTests.hs
  test/Parsing/CptTests.hs
  test/Parsing/TokenTests.hs
  test/ParsingTests.hs
  test/TestMain.hs
Labels: parser
